#farve-box {
    width: 400px;
    height: 400px;
    margin: 20px;
    background: red;
    margin: 20px auto;
}

body {
    text-align: center;
}

button {
    border-radius: 12px;
    border: none;
    font-family: Book Antiqua;
    font-weight: bold;
    padding: 1.5%;
}